<div class="background">
  <div class="container">
    <div class="logo-area">
      <ng-lottie width="6rem" height="4rem" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
      <img src="assets/wheres-youbike.png"/>
      <img src="assets/index-slogan.png"/>
    </div>
    <div class="btn-area">
      <button (click)="navigateTo('youbike-stop')">
        尋找 Youbike
      </button>
      <button (click)="navigateTo('bicycle-lane-list')">
        查詢自行車道
      </button>
      <button (click)="navigateTo('nearby-place-list')">
        附近美食、景點
      </button>
    </div>
  </div>
</div>