<div class="topbar">
  <div class="logo">
    <img src="assets/back-arrow.png" (click)="navigateToIndex()"/>
  </div>
  <div class="dropdown">
    <p-dropdown [options]="cities" 
                [(ngModel)]="selectedCity" 
                scrollHeight="250px"
                optionLabel="label"
                (onChange)="onCityChange()">
    </p-dropdown>
  </div>
</div>
<ng-container *ngIf="loading; else showResult">
  <div class="loading">
    <img src="assets/loading.gif"/>
  </div>
</ng-container>
<ng-template #showResult>
  <div class="result">
    <div class="card-area">
      <div class="card" *ngFor="let lane of laneResult" (click)="navigateToMap(lane)">
        <p>{{ lane.RouteName }}</p>
        <div>
          <div>{{ lane.CyclingLength ? lane.CyclingLength : '-' }} km</div>
          <div>
            <img src="assets/card-marker.png">
            <p>{{ lane.City }} {{ lane.Town }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
