<div class="topbar">
  <div class="logo">
    <img src="assets/wheres-youbike.png" (click)="navigateToIndex()"/>
  </div>
  <div class="dropdown">
    <p-dropdown [options]="cities" 
                [(ngModel)]="selectedCity" 
                scrollHeight="250px"
                optionLabel="label">
    </p-dropdown>
  </div>
</div>
<ng-container *ngIf="loading; else showResult">
  <div class="loading">
    <img src="assets/loading.gif"/>
  </div>
</ng-container>
<ng-template #showResult>
  <div class="result">
    <div class="card">
      <p>尚鄰社區休閒車道</p>
      <div>
        <div>單向 0.27 公里</div>
        <div>
          <img src="assets/card-marker.png">
          新竹縣 關西鎮
        </div>
      </div>
    </div>
    <div class="card">
      <p>尚鄰社區休閒車道</p>
      <div>
        <div>單向 0.27 公里</div>
        <div>
          <img src="assets/card-marker.png">
          新竹縣 關西鎮
        </div>
      </div>
    </div>
    <div class="card">
      <p>尚鄰社區休閒車道</p>
      <div>
        <div>單向 0.27 公里</div>
        <div>
          <img src="assets/card-marker.png">
          新竹縣 關西鎮
        </div>
      </div>
    </div>
    <div class="card">
      <p>尚鄰社區休閒車道</p>
      <div>
        <div>單向 0.27 公里</div>
        <div>
          <img src="assets/card-marker.png">
          新竹縣 關西鎮
        </div>
      </div>
    </div>
  </div>
</ng-template>
